<h1 class="mt-4">Listado de Personajes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active fst-italic">Listados</li>
    <li class="breadcrumb-item ">Personajes</li>
</ol>
<div class="card mb-4">
    <div class="card-header" id="list-title">
        <i class="fas fa-user me-1"></i>
        Personajes
    </div>
    <div class="card-body">
        <app-proyecto3table [personajesInput]="personajes"></app-proyecto3table>
    </div>
</div>
<a class="btn btn-primary fw-bold btn-alta" routerLink="/form-productos"><i class="fa fa-plus" aria-hidden="true"></i> Alta</a>