<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" routerLink="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Inicio
                </a>
                <div class="sb-sidenav-menu-heading">Productos</div>
                <a class="nav-link" routerLink="/productList">
                    <div class="sb-nav-link-icon" ><i class="fas fa-shopping-bag"></i></div>
                    Todos
                </a>
                <!-- FORM FILTRO -->
                <form #formFiltro="ngForm" (ngSubmit)="filtrarProductos(formFiltro)">
                    <input class="form-control" name="title" id="searchProduct" placeholder="Buscar Producto" [(ngModel)]="filterInput.title">
                    <select class="form-select" name="categoryId" id="" [(ngModel)]="filterInput.categoryId">
                        <option value="" selected>Categoría</option>
                        <option  *ngFor="let item of categorias" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <div class="form-floating">
                        <input class="form-control" type="number" name="price_min" id="minPriceInput" [(ngModel)]="filterInput.price_min">
                        <label for="minPriceInput">Precio Minimo</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" type="number" name="price_max" id="maxPriceInput" [(ngModel)]="filterInput.price_max">
                        <label for="maxPriceInput">Precio Máximo</label>
                    </div>
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </form>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>