a:link, a:visited{
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

header a{
    margin: 10px;
    font-weight: bold;
}

header nav a.active{
    color: rgb(76, 144, 175);
    font-weight: bolder;
}

main{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main select{
    margin-left:40px;
}

article{
    display: flex;
    margin: 20px;
}

.cart-list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article img.mainimg{
    width: 50%;
    margin: 20px;
}

article aside{
    width: 50%;
}

article button{
    height: 25px;
    width: 25px;
    border: 1px solid grey;
    margin: 5px;
}
button.circle{
    border-radius: 50%;
    background-color: rgb(76, 144, 175);
    color: white;
    font-weight: bold;
}
button.add-to-cart{
    background-color: rgb(76, 144, 175);
    color: white;
    font-weight: bold;
    width: 150px;
}

hr {
    border: 1px solid rgb(216, 216, 216);
}

ul{
    list-style-type: none;
    width: 100%;
}
ul li{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.btn-comprar{
    width: 300px;
}

.gridcontainer{
    display: grid;
    gap: 20px;
    grid-template:  auto auto / auto auto auto auto;
    justify-content: center;
}

.griditem{
    border: 1px solid grey;
    padding: 10px;
    width: 200px;
    align-self: center;
    justify-self: center;
    position: relative;
}

.griditem button{
    position: fixed;
}

.pagination {
    display: inline-block;
    border: 1px solid grey;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .pagination > a + a {
    border-left: 1px solid grey;
  }
  
  .pagination a.active {
    background-color: rgb(76, 144, 175);
    color: white;
  }
  
  .pagination .disabled{
    background-color: rgb(224, 224, 224);
    color: white;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-search{
    background-color: rgb(76, 144, 175);
    border-color: black;
}

.card{
    width:18rem;
}

.card-img-top{
    height:9rem;
}

.btn-mini-comprar{
    background-color: #ddd;
    border-color: grey;
    color:black;
    width:1.2em;
    height:1.2em;
    position: absolute;
    left: 92%;
    font-size: 20px;
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
}

#btn-cart{
    color:white;
}

.modal-dialog #modal-carrito{
    max-width: none;
}

#modal-carrito{
    margin-left: 25%;
}