<div class="container">
    <div class="card">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                                <div *ngFor="let item of product.images;index as i" [ngClass]="{'active':i==0}" class="carousel-item active" >
                                    <img src="{{item}}" class="d-block w-100" alt="...">
                                </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{product.title}}</h3>
                    <p class="product-description">{{product.description}}</p>
                    <h4 class="price">Precio <span>${{product.price}}</span></h4>

                    <h5 class="sizes">Tamaños:
                        <span class="size">S</span>
                        <span class="size">M</span>
                        <span class="size">L</span>
                        <span class="size">XL</span>
                    </h5>

                    <h5>Colores:
                        <span class="color orange"></span>
                        <span class="color green"></span>
                        <span class="color blue"></span>
                    </h5>
                    <div class="action">
                        <div class="d-flex align-items-center  ">
                            <div class="form-floating mb-1 w-25">
                                <input class="form-control text-center" type="text" inputmode="numeric" #cantidad name="inputCantidad" id="inputCantidad" value="1">
                                <label for="inputCantidad">Cant.</label>
                            </div>
                            <a class="btn btn-primary btn-sm d-flex justify-content-center align-items-center fw-bold ms-2" (click)="agregarAlCarrito(product.id,+cantidad.value)"><i class="fa fa-cart-plus"></i> AGREGAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>