<div class="d-flex ">
    <div class="col-md-7">
        <div class="col text-center">
            <h3>Listado de Usuario</h3>
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of usuarios">
                        <td><img src="{{u.avatar}}" alt="{{u.first_name}}"></td>
                        <td>{{u.first_name}}</td>
                        <td>{{u.last_name}}</td>  
                        <td>
                            <button class="btn btn-sm btn-secondary me-2" (click)="update(u.id)">Modificar</button>
                            <button class="btn btn-sm btn-danger " (click)="delete(u.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-5">
        <h3>Nuevo Usuario</h3>
        <form #miForm="ngForm" (ngSubmit)="create(miForm)">
            <div class="mb-5">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input 
                    type="text"
                    class="form-control" 
                    placeholder="Nombre"
                    name="name"
                    [(ngModel)]="userService.datosUsuario.name"
                >
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Trabajo</label>
                <input 
                    type="text"
                    class="form-control" 
                    placeholder="Trabajo"
                    name="job" 
                    [(ngModel)]="userService.datosUsuario.job"
                >
            </div>
            <button type="submit" class="btn btn-success me-2">Guardar</button>
            <button class="btn btn-warning ">Borrar</button>
        </form>
    </div>
</div>