<div class="d-flex ">
    <div class="w-50">
        <label>Tarea: </label>
        <input class="form-control" name="tareaNameInput" [(ngModel)]="tarea.nombre">
        <label>Descripcion: </label>
        <textarea class="form-control" name="dateInput" [(ngModel)]="tarea.descripcion"></textarea>
        <a class="btn btn-primary" (click)="agregarTarea()">Agregar Tarea</a>
        <select class="form-select" [(ngModel)]="selectValId" onchange="changeSelect()">
            <option *ngFor="let item of listTarea" value="{{item.id}}">{{item.id}}</option>
        </select>
        <a class="btn btn-secondary" (click)="editarTarea()">Editar Tarea</a>
    </div>
    <div class="p-4 w-50">
        <select class="form-select" [(ngModel)]="selectVal">
            <option value="activos" selected>Activos</option>
            <option value="deleted">Borrados</option>
        </select>
        <div *ngIf="selectVal == 'activos'">
            <ul *ngFor="let item of listTarea; index as i;">
                <li>
                    <span [ngClass]="{'text-decoration-line-through': !listTarea[i].estado}" (click)="toggle(i)">{{item.nombre}}
                        {{item.descripcion}}</span>
                    <a class="btn btn-warning" (click)="dltItem(item.id)"><i class="fas fa-trash"></i></a>
                </li>
            </ul>
        </div>

        <div *ngIf="selectVal == 'deleted'">
            <h2>Listado back-up</h2>
            <ul *ngFor="let item of listTareaDeleted; index as i;">
                <li>
                    <a class="btn btn-danger" (click)="dltItemDeleted(i)"><i class="fas fa-trash"></i></a>
                </li>
            </ul>
        </div>


    </div>
</div>