<header>
    <a class="link-underline-opacity-0" href="">
        <img src="./assets/img/tiendaicon.png" alt="Mi Tienda" style="height: 100px;">
        <span style="display: table;margin: 0 auto;">MI TIENDA</span>
    </a>
    <nav>
        <a class="link-underline-opacity-0" href="">HOME</a>
        <a class="link-underline-opacity-0 active" href="">SHOP</a>
        <a class="link-underline-opacity-0" href="">DEMOS</a>
        <a class="link-underline-opacity-0" href="">BLOCKS</a>
        <a class="link-underline-opacity-0" href="">COMPONENTS</a>
        <a class="link-underline-opacity-0" href="">CONTACT US</a>
        <a id="btn-cart" class="btn btn-primary fw-bold text-center" data-bs-toggle="modal" data-bs-target="#modal-carrito">MY CART(0)</a>
    </nav>
</header>